#chartContainer {
  width: 700px;
  height: 490px;
  padding-top: 10px;
}

.axis path,
.axis line {
  stroke: black;
  shape-rendering: crispEdges;
}

.axis,
.yAxis {
  font-family: sans-serif;
  font-size: 11px;
}

.consLines {
  stroke-width: 3px;
  fill: none;
}

.mainHeader {
  font-size: 1.45em;
}

.subHeading {
  font-size: 0.6em;
}

.toolTip {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  padding: 3px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #ccc;
  border-radius: 5px;
  background-color: rgba(255, 230, 197, 0.849);
}

.legendText,
.legendRects {
  cursor: pointer;
}

.rangeDiv {
  margin-left: 80px;
}
